<h1>{{title}}</h1>

<h2 style="text-align: center;">
    Welcome to live Election Status
</h2>

<script>buttonDisStatus();</script>

<div style="text-align: center; margin :20px auto;">

   <button onclick="displayConstituency()" class="btn btn-primary">All Constituency</button>

   <button onclick="displayParty()" class="btn btn-primary">All Party</button>

   <button onclick="displayCandidates()" class="btn btn-primary">All Candidate</button>

  <button onclick="displayVoter()" class="btn btn-primary">All Voters</button>


</div>



<div id="cont1"></div>


<div id="historyModal"></div>