<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>
    Add New Voter
</h2>

<script>createVoterForm()</script>
<script>buttonDisStatus();</script>

<div id="voterform">
 
</div>

<script>createVoterForm()</script>



